<div class="footer">
    <div class="pull-right">
        <strong>Todos os Direitos Reservados</strong> INtech &copy; <%= Date.today.year %>
    </div>
    <div>
       <strong> Processo Convênio Eletrônico - PCE </strong>
    </div>
</div>
